<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebar Reset Password Page</title>
    <link rel="stylesheet" href="forgetPassword.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgb(252, 240, 3); margin: 0;">
    <h1 style="height: 15vh;  text-align: center; padding-top: 3rem; font-family: Rokkitt; font-size: 3rem;">
        ProShop
    </h1>
    <div style="margin-left: 10%; height: 70vh;">
        <h3> Hi {{username}}, </h3>
        <h4>Please notice this link only available for you in 1 hour, after 1 hour this link will be expired and you
            have to request a new email </h4>
        <h4> If you want to reset your password please click on the link below :</h4>
        <a href="{{websitesLink}}/reset/{{token}}"> RESET HERE </a>
        <h4> If you did not request this for this email, please ignore it and your password will remain the same.</h4>
        <h4> Thank-you for reading. </h4>
    </div>
    <div style="font-family: Rokkitt; font-size: 1rem; margin-left: 10%;">
        ProShop @2020
    </div>
</body>

</html>