main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  font-size: 2rem;
  font-weight: 700px;
  color: black;
}

.carousel img {
  height: 400px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

.carousel-indicators li {
  background-color: black;
}

.progress-bar {
  background-color: rgb(255, 230, 0) !important;
}

.progress {
  background-color: #dfdfdf !important;
}

#adminuser {
  color: black;
}

#username {
  color: black;
}

#map {
  height: 100%;
  width: 100%;
  position: relative !important;
}

.BrainhubCarousel__dots {
  justify-content: start !important;
  margin-left: 15% !important;
}

@media (min-width: 320px) {
  .BrainhubCarouselItem {
    justify-content: start !important;
  }
}

@media (max-width: 1300px) {
  .carousel-caption {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .carousel-caption {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .carousel-caption {
    visibility: hidden;
  }

  .nav-link {
    padding-left: 0rem !important;
  }
}

@media (max-width: 520px) {
  .carousel img {
    height: 300px;
    padding: 15px;
    margin: 20px;
    border-radius: 50%;
  }
}

@media (max-width: 400px) {
  .carousel img {
    height: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
  }

  .BrainhubCarousel__dots {
    justify-content: start !important;
    margin-left: 0% !important;
  }
}

@media (max-width: 370px) {
  .table th,
  .table td {
    padding: 0.5rem;
  }
}
