main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
 
.carousel-caption h4 {
  color: #fff;
}
 
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

#adminuser {
  color: black;
}

#username {
  color: black;
}
